.rr-rating-breakdown {
  align-items: center;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
  padding: 10px;
}

.rr-rb-header {
  display: inline;
  font-size: 15px;
  padding: 10px;
}

.rr-rb-body {
  display: inline;
  font-size: 15px;
  padding: 5px;
}

// cant explain this one but if you uncomment this line it makes the progress bars squared and the fill is green
// #rr-rb-progress {
//   background-color: #036;
// }