.rr-rating-breakdown {
  align-items: center;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.rr-rb-header {
  display: inline;
  font-size: 15px;
  padding: 10px;
}

.rr-rb-body {
  display: inline;
  font-size: 15px;
  padding: 5px;
}