.rr-rating-breakdown {
  margin: 15px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.rr-rb-header {
  display: inline;
  padding: 10px;
  font-size: 15px;
}

.rr-rb-body {
  display: inline;
  padding: 5px;
  font-size: 15px;
}