.details-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  width: 40%;
  margin: auto;
}

.dp-slogan {
  padding: 25px;
}

.dp-description {
  text-align: center;
}

.dp-social-container {
  display: flex;
  justify-content: space-between;
  font-size: 3em;
  padding: 25px;
  width: 300px;
}

.dp-social-icon {
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
  color: black;
  font-size: 40px;
}

.dp-social-icon:hover {
  transform: scale(1.2);
}

.icon-facebook:hover {
  color: #4267B2;
}

.icon-twitter:hover {
  color: #1DA1F2;
}

.icon-pinterest:hover {
  color: #E60023;
}