@use 'src/colors.scss'as a;

.rr-rating-summary {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.rr-rs-header {
  display: flex;
  margin: 20px 0;
}

.rr-rs-rating {
  display: inline;
  font-size: 65px;
  line-height: 1;
  margin: 0;
  color: a.$color4;
}

.rr-rs-star-rating {
  display: inline;
  padding: 10px;
}

.rr-rs-review-count {
  padding: 10px;
}