.rr-rating-summary {
  margin: 15px 0;
  position: relative
}

.rr-rs-header {
  display: inline;
  padding: 10px;
  font-size: 60px;
}

.rr-rs-star-rating {
  display: inline;
  position: absolute;
  padding: 10px;
  top: 10px;
}