@use '../../../App.scss'as a;

.image-icon-dots {
  position: absolute;
  bottom: 10px;
  left: 40%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.585));
  color: white;
}

.image-icon-dot {
  cursor: pointer;
  transition: .3s;
}

.image-icon-dot:hover {
  color: a.$color1;
}

.image-icon-dot.selected {
  color: a.$color1;
  transform: scale(1.4);
  // font-size: 30px;
}