.rr-buttons {
  align-items: center;
  border: solid;
  display: flex;
  margin: 10px 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.rr-buttons-more-reviews {
  margin: 10px 10px;
}

.rr-buttons-add-review {
  margin: 10px 10px;
}