.rr-size-scale {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.rr-ss-labels {
  display: flex;
  font-size: x-small;
  width: 70%;
}