/*==========================================================
====================== SHARED COMPONENTS ===================
===========================================================*/
@use 'src/colors.scss'as a;

$buttonHeight: 48px;

// button {
// background-color: transparent;
// height: $buttonHeight;
// padding: 10px;
// cursor: pointer;
// // border: none;
// border: solid thin $color3;
// color: $color3;
// text-transform: uppercase;
// font-weight: bold;

// // Center inner contents of button (if any)
// display: inline-flex;
// align-items: center;
// justify-content: center;
// }

button.small-pill {
  height: 24px;
  font-size: 12px;
  border-radius: 120px;
}

// button:hover {
//   background-color: $hoverColor;
// }

button.hidden {
  background-color: transparent;
}

// Style input fields to match buttons
input {
  height: $buttonHeight;
  padding: 10px;
  background-color: transparent;
}

input:focus {
  outline: none !important;
  border: 2px solid a.$color1;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress {
  height: 10px;
  background: a.$color2;
  border-radius: 5px;
}

.progress::-moz-progress-bar {
  background: a.$color1;
  border-radius: 5px;
}

.progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 5px;
}

.progress::-webkit-progress-value {
  background: a.$color1;
  border-radius: 5px;
}

/*==========================================================
======================= PRODUCT DETAIL =====================
===========================================================*/

/*==========================================================
====================== RATINGS & REVIEWS ===================
===========================================================*/

#ratings-reviews {
  display: flex;
  height: auto;
}