.qa-sub-answer {
  color: rgb(86, 86, 86);
}

.qa-answer-tag {
  font-weight: bold;
  margin-right: 10px;
}

.qa-answer-body {
  color: rgb(58, 58, 58);
}

.qa-sub-answer-parts-container {
  display: flex;
  margin-top: 7px;
  margin-bottom: 7px;
}