.rr-comfort-scale {
  display: grid;
  grid-gap: 1px;
  justify-content: center;
  padding: initial;
}

.rr-cs-labels {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  width: 100%;
  font-size: x-small;
}