.qa-question-modal {
  position: fixed;
  top: 20%;
  left: 30%;
  border: 2px solid black;
  background-color: white;
  display: inline-block;
  padding: 50px;
  z-index: 1;
}

.qa-question-modal-form {
  display: flex;
  flex-direction: column;
}

.qa-question-modal-label {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  color: white;
  background-color: rgb(3, 165, 180);
  font-weight: bold;
  border-radius: 10%;
  border: none;
  margin-top: 10px;
  width: 25%;
  justify-content: center;
}