.qa-question-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
  border: 2px solid black;
  padding: 50px;
  background-color: rgb(230, 241, 251);
}