.pd-right-details-container {
  background-color: rgb(255, 219, 219);
  width: 35vw;
  padding: 20px;
}

.pd-stars-container {
  display: flex;
  // justify-content: space-evenly;
}

.pd-read-all-reviews {
  padding-left: 20px;
}

.pd-category {
  text-transform: uppercase;
  font-size: 20px;
}

.pd-title {
  font-size: 42px;
}