/*==========================================================
====================== SHARED COMPONENTS ===================
===========================================================*/

$buttonHeight: 48px;
$hoverColor: aliceblue;

button {
  background-color: transparent;
  height: $buttonHeight;
  padding: 10px;
  cursor: pointer;
  border: solid thin;
  text-transform: uppercase;
  font-weight: bold;

  // Center inner contents of button (if any)
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.small-pill {
  height: 24px;
  font-size: 12px;
  border-radius: 120px;
}

button:hover {
  background-color: $hoverColor;
}

// If we have hidden buttons, we won't have a hover color on them.
button.hidden:hover {
  background-color: transparent;
}

// Style input fields to match buttons
input {
  height: $buttonHeight;
  padding: 10px;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress {
  height: 10px;
  background: grey;
  border-radius: 5px;
}

.progress::-moz-progress-bar {
  background: #036;
  border-radius: 5px;
}

.progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 5px;
}

.progress::-webkit-progress-value {
  background: #036;
  border-radius: 5px;
}

/*==========================================================
======================= PRODUCT DETAIL =====================
===========================================================*/

#product-detail {
  min-height: 90%;
}

.pd-top-row-container {
  // display: flex;
  height: 75vh;
  min-height: 590px;
  position: relative;
  transition: .3s;
}

.pd-top-row-container.zoomed {
  height: 90vh;
}

/*==========================================================
====================== RATINGS & REVIEWS ===================
===========================================================*/

#ratings-reviews {
  display: flex;
  height: auto;
}