#product-detail-widget {
  // background-color: rgb(255, 222, 172);
  // height: 90%;
  min-height: 90%;
}

.pd-top-row-container {
  // display: flex;
  height: 75vh;
  min-height: 590px;
  position: relative;
  transition: .3s;
}

.pd-top-row-container.zoomed {
  height: 90vh;
}

#ratings-reviews {
  display: flex;
  height: auto;
}

.loading {
  align-items: center;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.progress {
  height: 10px;
  background: grey;
  border-radius: 5px;
}

.progress::-moz-progress-bar {
  background: #036;
  border-radius: 5px;
}

.progress::-webkit-progress-bar {
  background: transparent;
  border-radius: 5px;
}

.progress::-webkit-progress-value {
  background: #036;
  border-radius: 5px;
}