.rr-fit-scale {
  display: grid;
  grid-gap: 1px;
  justify-content: center;
  padding: initial;
}

.rr-fs-title {
  font-size: 15px;
}

.rr-fs-labels {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  width: 100%;
  font-size: x-small;
}